<h1>All articles</h1>
<hr>
<p>

 <% @articles.each do |article| %>
		
		<div=>
			<%= image_tag article.photo.url(:medium)%>
			<%= article.title %>
      <%= article.text %>
      <%= link_to 'Show', article_path(article) %>
      <%= link_to 'Edit', edit_article_path(article)%>
      <%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    
  <% end %>





