
	<h1>
		<%= @article.title %>
	</h1>

	<hr>
	
<div id="article-body">
	<div id= 'article_image'>
		<%= image_tag @article.photo.url(:medium)%>
	</div>
		
	<p>
		<%= @article.text %>
	</p>
	
	<p>
		<%= link_to 'Back', articles_path %>
		| <%= link_to 'Edit', edit_article_path(@article) %>
  </p>
</div>

	<!--<strong>Is favorite:</strong>-->
	<!--<%= @article.is_favorite %>-->
	
	<!--<%= image_tag @article.photo.url %>-->
	<!--<%= image_tag @article.photo.url(:thumb) %>-->